
<div class="bg-white border-b-[1px] border-t-[1px] h-[70px]">
    <div class="container m-auto flex justify-between h-full items-center">
        <a [routerLink]="'/'" class="text-2xl text-[var(--primary)] font-bold">
            My Blog
        </a>

        <div class="space-x-10 text-gray-600">
            <a routerLink="/home">{{ 'header.nav.home' | translate }}</a>
            <a routerLink="/admin">{{ 'header.nav.admin' | translate }}</a>
            <a routerLink="/about">{{ 'header.nav.about' | translate }}</a>
            <a routerLink="/contact">{{ 'header.nav.contact' | translate }}</a>
            @if (!authService.session) {
                <a routerLink="/auth/login" class="cta">Login</a>
            } @else {
                <button class="cta" (click)="authService.logout()">Logout</button>
            }

            <mat-form-field appearance="outline" class="panel-override">
                <mat-select [value]="'en'" (valueChange)="changeLang($event)">
                    <mat-option [value]="'en'">{{ 'en' }}</mat-option>
                    <mat-option [value]="'ro'">{{ 'ro' }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>
</div>
