<div class="p-5">
    <h1 class="text-left">Tags</h1>

    <div class="flex justify-between items-center mb-5">
        <button mat-raised-button color="primary" routerLink="/admin/tags/add">Create</button>

        <button mat-raised-button [disabled]="!selection.hasValue()" (click)="deleteSelectedTags()">
            Delete
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<div class="p-5">
  <app-table 
      [tableData]="dataSource.data"
      [totalRecords]="totalResults"
      [tableColumns]="tableCols"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [selection]="selection"
      (pageChange)="onPageChange($event)"
      (bodyCheckboxClicked)="onBodyCheckboxClicked($event)"
      (headerCheckboxClicked)="onHeaderCheckboxClicked($event)"
      (editIconButtonClick)="onEditCategory($event)">
  </app-table>
</div>


